/**** type selectors ****/
body {
	color: #878787;
	margin: 0;
	font-size: 1em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* here I include more then one font incase the users browser does not support it */
}

h1 {
	font-size: 5.625em; /* 90px/16px=5.625 the font size was 90px but I used the math formula to convert it to em size */
	color: rgba(255, 255, 255, 1);
	text-transform: uppercase; /* changes all text in h1 to upper case, you could also use lowercase and capitalize */
	font-weight: normal;
}

h2 {
	font-size: 53px;
	text-decoration: underline; /* adds an underline to your text */
	font-weight: normal;
}

h3 {
	font-size: 20px;
	color: #48525c;
}


/**** Id Selectors ****/
#main-footer {
	padding-top: 60px;
	padding-bottom: 60px;
	border-bottom: solid 10px #ffa949;
}

/**** Class Selectors ****/
.main-header {
	background-color: #ffa949;
}

/** Example of descendant selector **/
.title {
	color: white;
	font-size: 1.625em; /* 26px/16px=1.625 the font-size was 26px but I used the math formula to convert it to em size */
}

/**** Changed Content width ****/
.primary-content,
.secondary-content {
	width: 60%;
}

.primary-content,
.main-header {
	text-align: center;
}

.t-border {
	border-top: 2px solid lightgray;
}

/**** Pseudo-class selectors below for links ****/

/** not visited link **/
a:link {
	color: rgb(255, 169, 73);
	text-decoration: none; /* removes underline from links */
}

/** visited link **/
a:visited {
	color: lightblue;
}

/** mouse hover over link **/
a:hover {
	color: rgba(255, 169, 73, .4);
}

/** activates when you click and unclick links **/
a:active {
	color: lightcoral;
}

