/**** type selectors ****/
body {
	color: #878787;
	margin: 0;
	font-size: 1em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* here I include more then one font incase the users browser does not support it. ALso known as a font stack */
	line-height: 1.5; /* gives space between every word in your content to make for a better reading pleasure */
}

h1 {
	font-size: 5.625em; /* 90px/16px=5.625 the font size was 90px but I used the math formula to convert it to em size */
	color: rgba(255, 255, 255, 1);
	text-transform: uppercase; /* changes all text in h1 to upper case, you could also use lowercase and capitalize */
	font-weight: normal;
	line-height: 1.3; /* gives space between the paragraph and the h1 area in your content to make for better spacing  */
}

h2 {
	font-size: 53px;
	text-decoration: underline; /* adds an underline to your text */
	font-weight: normal;
	line-height: 1.1;
	margin-bottom: .5em; /* 26px/53px=.5em */
}

h3 {
	font-size: 20px;
	color: #48525c;
	line-height: 1.2;
	margin-bottom: 1.7em; /** 34px/20px=1.7em **/
}


/**** Id Selectors ****/
#main-footer {
	padding-top: 60px;
	padding-bottom: 60px;
	border-bottom: 10px solid #ffa949;
	text-align: center;
}

/**** Class Selectors ****/
.main-header {
	background-color: #ffa949;
}

/** Example of descendant selector **/
.title {
	color: white;
	font-size: 1.625em; /* 26px/16px=1.625 the font-size was 26px but I used the math formula to convert it to em size */
}

/**** Layout Styles ****/
.primary-content,
.secondary-content {
	width: 60%;
	margin: auto;
}

/** Stared working with Box model below **/
.wildlife {
	color: white;
	background-color: #434a52;
	padding-top: 18%;
	padding-right: 24%;
	padding-bottom: 18%;
	padding-left: 24%;

	border-top: 10px;
	border-style: solid;
	border-color: #ffa949;

	margin-top: 105px;
	margin-right: 0;
	margin-bottom: 60px;
	margin-left: 0;
}
/** Box model ends **/

.primary-content,
.main-header {
	text-align: center;
}

/**.t-border {
	border-top: 2px solid lightgray;
}
**/
/**** Pseudo-class selectors below for links ****/

/** not visited link **/
a:link {
	color: rgb(255, 169, 73);
	text-decoration: none; /* removes underline from links */
}

/** visited link **/
a:visited {
	color: lightblue;
}

/** mouse hover over link **/
a:hover {
	color: rgba(255, 169, 73, .4);
}

/** activates when you click and unclick links **/
a:active {
	color: lightcoral;
}

