/**** type selectors ****/
body {
	color: #878787;
	margin: 0;
	font-size: 1em;
}

h1 {
	font-size: 5.625em; /* 90px/16px=5.625 the font size was 90px but I used the math formula to convert it to em size */
	color: white;
}

h2 {
	font-size: 53px;
}

h3 {
	font-size: 20px;
	color: #48525c;
}

/**** Id Selectors ****/
#main-footer {
	padding-top: 60px;
	padding-bottom: 60px;
	border-bottom: solid 10px orange;
}

/**** Class Selectors ****/
.main-header {
	background-color: orange;
}

/** Example of descendant selector **/
.title {
	color: white;
	font-size: 1.625em; /* 26px/16px=1.625 the font-size was 26px but I used the math formula to convert it to em size */
}

/**** Changed Content width ****/
.primary-content,
.secondary-content {
	width: 60%;
}

.primary-content {
	text-align: center;
}

.t-border {
	border-top: 2px solid lightgray;
}

/**** Pseudo-class selectors below for links ****/

/** not visited link **/
a:link {
	color: orange;
}

/** visited link **/
a:visited {
	color: lightblue;
}

/** mouse hover over link **/
a:hover {
	color: forestgreen;
}

/** activates when you click and unclick links **/
a:active {
	color: lightcoral;
}

